[4:32 pm, 4/6/2024] 🦋nithya Shree: {% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }

  .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("myid")
        }
    </script>
    <div id="myid"></div>
    <script>
      window.embeddedChatbotConfig = {
      chatbotId: "8O91iqJIbQdNkiZq0iKRm",
      domain: "www.chatbase.co"
      }
      </script>
      <script
      src="https://www.chatbase.co/embed.min.js"
      chatbotId="8O91iqJIbQdNkiZq0iKRm"
      domain="www.chatbase.co"
      defer>
      </script>

<div class='mobile p-5'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div>


<div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>Sad!</strong> Care me,i am dieing...
</div>

<div class="alert success">
  <span class="closebtn">&times;</span>  
  <strong>Happy! </strong> i am feeling better..


<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

</div>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h3 class="display-4" style="padding-top: 2%;font-weight: 300;color: rgb(4, 54, 4); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b> GUARDIANA </b></h3>
        <h4 class="lead" style="font-weight: 400;color: black;">Healthy plants made simple</h4>
        <br>
        <p class="lead" style="font-weight: 350;color: black;">"AI Engine To Detect Plant Disease"</p>
    </div>
</div>

<center class="laptop">
    <a href="/index">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;"><i>AI Engine</i></b></button>
    </a>
</center>
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">
          <img src="https://post.healthline.com/wp-content/uploads/2020/09/Do_Apples_Affect_Diabetes_and_Blood_Sugar_Levels-732x549-thumbnail-1-732x549.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://www.supermarketperimeter.com/ext/resources/0430-blueberries.png?t=1588260305&width=1080" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/health_benefits_of_cherries_slideshow/1800x1200_health_benefits_of_cherries_slideshow.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2023/6/28/fresh-corn-on-the-cob-partially-shucked-on-dark-background.jpg.rend.hgtvcom.1280.1280.suffix/1687987003387.jpeg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
        </div>
    </div>
</div>
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">
          <img src="https://i.ndtvimg.com/i/2015-09/grapes_625x350_61443376353.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://www.irishtimes.com/polopoly_fs/1.3923226.1560339148!/image/image.jpg_gen/derivatives/ratio_1x1_w1200/image.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/the_health_benefits_of_peaches_slideshow/thinkstock_rf_peaches.jpg?resize=650px:*" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://images.saymedia-content.com/.image/t_share/MTc0MTgxNTM0MzI3MTIxNDA0/bell-peppers-do-the-different-colors-really-taste-any-different.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Pepper Bell</p></center>
        </div>
    </div>
</div>


<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">
          <img src="https://m.economictimes.com/thumb/height-450,width-600,imgsize-111140,msid-72862126/potato-getty.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/326/326272/raspberries-with-ketones-in-a-bowl.jpg?w=1155&h=1541" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://m.economictimes.com/thumb/msid-66988154,width-1200,height-900,resizemode-4,imgsize-211276/soyabean-agencies.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soybean</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 60%;height: 92%;">

          <img src="https://post.healthline.com/wp-content/uploads/2020/08/squash-fruit-or-vegetable-732x549-thumbnail-732x549.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
        </div>
    </div>
</div>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 30%;height: 92%;">
          <img src="https://images.indianexpress.com/2020/02/strawberry-1200.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Strawberry</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 30%;height: 92%;">

          <img src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/tomatoes-1296x728-feature.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Tomato</p></center>
        </div>
    </div>
</div>
</center>

{% endblock body %}
[4:44 pm, 4/6/2024] 🦋nithya Shree: https://github.com/Nithyashree-Eswaran/Final-Project.git
[4:49 pm, 4/6/2024] 🦋nithya Shree: <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Plant Disease Detection</h1>

    <!-- Other content of your homepage -->

    <!-- Chatbot iframe -->
    <iframe
        src="https://www.chatbase.co/chatbot-iframe/ENQtaIS9GxK77I9FA1HMf"
        title="PlantAI"
        width="100%"
        style="height: 100%; min-height: 700px"
        frameborder="0">
    </iframe>

    <script>
    window.embeddedChatbotConfig = {
        chatbotId: "ENQtaIS9GxK77I9FA1HMf",
        domain: "www.chatbase.co"
    }
    </script>
    <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="ENQtaIS9GxK77I9FA1HMf"
        domain="www.chatbase.co"
        defer>
    </script>
</body>
</html>