{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<style>
    body {
    background-image: url('https://wallpapercave.com/wp/wp6793942.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-backdrop-filter: contrast();
    backdrop-filter: blur(10px);
    backdrop-filter:cover;
    overflow-x: hidden;
}
</style>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(176, 181, 176);"><b>Contact-Us</b></h1><br>
        <p class="lead" style="font-weight: 500;color: rgb(227, 226, 226);">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help You.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style=" height: 95%; width: 85%; padding-left: 40px;">
            <center>
                <h3>NAVIYA DHARSHINI A S</h3>
                <h3>NITHYASHREE E</h3>
                <p class="lead" style="font-weight: 350;">We are currently Pursuing Bachelor Degree  in
                    Aritificial Intelligence and Data Science in Sri Eshwar College of Engineering. Our main focus on Machine Learning, Deep Learning and Web Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:naviyadharshini33@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                naviyadharshini33@gmail.com <br><br>
                <a target="_blank" href='mailto:nithyashreeeswaran@gmail.com'><img
                    src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                nithyashreeeswaran@gmail.com <br><br>
                <a target="_blank" href='mailto:naviya-dharshini'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : naviya-dharshini<br><br>
                <a target="_blank" href='mailto:nithyashree'><img
                         src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                         width="44"></a> : nithya-shree<br><br>

            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style=" height: 95%; width: 85%; padding-left: 40px;">
            <center>
                <h3>SARA DAWOOD S</h3>
                <h3>PABITHA S</h3>
                <p class="lead" style="font-weight: 350;">We are currently Pursuing Bachelor Degree  in
                    Aritificial Intelligence and Data Science in Sri Eshwar College of Engineering. We Our main focus is on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:saradawoodssd@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                saradawoodssd@gmail.com<br><br>
                <a target="_blank" href='mailto:pabitha@gmail.com'><img
                    src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                pabitha@gmail.com<br><br>
                <a target="_blank" href='mailto:pabitha-s'><img
                    src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                    width="44"></a> : sara-dawood<br><br>
                <a target="_blank" href='mailto:pabitha-s'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : pabitha-s<br><br>
               
            </div>
        </div>
    </div>
</div>

{% endblock body %}